.App {
  text-align: center;
  margin-top: 5vh;
}

body {
  background: linear-gradient(270deg, #ee4fff, #ffb54f, #848bf9, #aedbd7, #e676ff);

  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 22%
  }

  50% {
    background-position: 100% 79%
  }

  100% {
    background-position: 0% 22%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 22%
  }

  50% {
    background-position: 100% 79%
  }

  100% {
    background-position: 0% 22%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 22%
  }

  50% {
    background-position: 100% 79%
  }

  100% {
    background-position: 0% 22%
  }
}